.profile__edit-button {
  width: 10px;
  height: 10px;
  padding: 6px;
  border: 1px solid #FFFFFF;
  margin-left: 18px;
  margin-bottom: 18px;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: .4s linear ;
}

@media (min-width: 320px) and (max-width: 879px) {
  .profile__edit-button {
    width: 5px;
    height: 5px;
    position: relative;
    bottom: 37px;
    left: 112px;
    margin: 0;
  }
}
