.profile {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 879px) {
  .profile {
    flex-direction: column;
    margin-top: 50px;
  }
}
